.searchForm {
  height: 50px;
  border-radius: 25px;
  background: #fff;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  margin-top: 00px;
}

.searchForm select {
  border: 0px;

  color: var(--gray6, #333);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.searchForm .leftSelect {
  margin-left: 10%;
}

.searchForm .submitInput {
  height: 44px;
  width: 44px;

  margin: 4px;

  border: 0px;
  border-radius: 22px;
  background: #304D30;

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--gray0, #fff);
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.recommendedStudentsDiv {
  margin-top: 18px;
  /* height: 170px; */
  width: 100%;

  border-radius: 25px;
  background: #fff;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.recommendedStudentsDiv .peson {
  margin: 40px;
}

.recommendedStudentsDiv .infoDiv {
  margin-right: 70px;
  height: 80%;
  width: 80%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.infoDiv .firstLine {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.infoDiv .suggestions {
  width: 100px;

  height: 30px;

  border-radius: 10px;
  border: 0px;

  color: white;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

.recommendedStudentsDiv .name {
  width: 100%;
  font-family: 'C24B';
  padding: 5px;
  color: var(--gray6, #333);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.recommendedStudentsDiv .line {
  height: 2px;
  border-radius: 2px;
  width: 100%;

  /* background-color: black; */
}

.recommendedStudentsDiv .info {
  color: var(--gray6, #333);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.recommendedStudentsDiv .sub {
  color: gray;
}

.recommendedStudentsDiv .interests {
  width: 30%;
  height: 35px;

  margin-bottom: 3px;
  border-radius: 10px;

  color: white;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  font-family: "C24";
  padding: 30px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  background: linear-gradient(180deg, #589458 1.4%, #304D30 100%);
}
